.popup_content{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color:rgba(0,0,0,.3);
    z-index: 999999;
}
.popup_content .white{
    color:#FFFFFF !important;
}
.popup_content .popup{
    width:90%;
    max-width: 450px;
    position: absolute;
    left:0;
    right:0;
    top:200%;
    bottom:0;
    margin:auto;
    overflow: hidden;
    display: table;
    border-radius: 4px;
    background: #FFF;
}
.popup_content .popup .title{
    width:100%;
    text-align: center;
    /*border-bottom:1px solid rgba(0,0,0,.1);*/
    font-size: 17px;
    line-height: 35px;
    padding:5px;
    display:table;
    font-weight: 100;
    font-family: 'robotolight', 'helvetica', 'Arial', sans-serif;
}
.popup_content .popup .popup_picture{
    width:100%;
    height:200px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}
.popup_content .popup .message{
    width: 100%;
    text-align: center;
    background: #F9F9F9;
    font-size: 14px;
    line-height: 20px;
    padding: 5px;
    display: table;
    color: #818181;
    font-weight: 100;
    box-sizing: border-box;
}
.popup_content .popup .buttons{
    width:100%;
    display: table;
    padding:0px;
}
.popup_content .popup .buttons .content_center{
    display: table;
    left:0;
    right:0;
    margin:auto;
    width: 100%;
}
.popup_content .popup .buttons .popup_button{
    display: table;
    color: #FFF;
    /*background: #818181;*/
    float: left;
    border-radius: 0px;
    float: left;
    margin: 0px;
    border-top: 1px solid #E3E3E3;
    border-right: 1px solid #E3E3E3;
    box-sizing: border-box;
}
.popup_content .popup .buttons .popup_button:last-child{
    border-right: none;
}
.popup_content .popup .buttons .popup_button .icon{
    height:28px;
    width:28px;
    float:left;
    margin:4px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}
.popup_content .popup .buttons .popup_button .icon img{
    width:100%;
    height:100%;
}
.popup_content .popup .buttons .popup_button .label{
    font-size: 14px;
    line-height: 20px;
    float:left;
    padding:8px;
    padding-top:14px;
    padding-bottom:14px;
    color:#00BBD3;
    width:100%;
    max-width:100%;
    text-align: center;
    box-sizing: border-box;
}
.popup_content .popup .illus{
    width : 100%;
    height:250px;
    position: relative;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
}
.popup_content .popup .illus.motion{
    width : 100%;
    height:240px;
    overflow: hidden;
}
.popup_content .popup .illus.motion iframe{
    width: 320px;
    height: 240px;
    padding: 0;
    border: 0;
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;
    overflow: hidden;
}
.popup_content .popup .illus img{
    height: 80%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.popup_content .popup .illus iframe{
    width : 100%;
    height:100%;
    margin:0;
    padding: 0;
    border:0;
}
.popup_content .popup .illus iframe html,body{
    width:100%;
    height:100%;
    margin:0;
    padding:0;
}
.popup_content .popup_cross_close_button{
    width:50px;
    height:50px;
    position: absolute;
    right:0;
    top:0;
    margin:0;
    padding:0;
    line-height: 50px;
    font-size: 50px;
    color:#FFFFFF;
    z-index: 9;
}
.popup_diaporama{
    width : 100%;
    height:220px;
    position: relative;
}
.popup_diaporama_slider{
    width:100%;
    height:100%;
    position:absolute;
}
.popup_diapo{
    width:100%;
    height:100%;
    top:0;
    position:absolute;
    overflow: hidden;
}
.popup_diapo img{
    height: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    position: absolute;
}
.popup_content .message_scroller{
    display: table;
    font-family: 'robotolight', 'helvetica', 'Arial', sans-serif;
    left:0;
    right:0;
    margin:auto;
    width:100%;
}
.popup_content .picker{
    width:100px;
    height:100px;
    box-sizing: border-box;
    margin:4px;
    float: left;
}
.popup_content .picker.selected{
    border:4px solid #333333;
}