*{
    /*-webkit-backface-visibility: hidden !important;
    /*backface-visibility: hidden !important;
    /*transform: perspective( 600px );
    /*-ms-transform: translate3d(0,0,0);
    /*-webkit-transform: translate3d(0,0,0);
    /*transform: translate3d(0,0,0) perspective( 5000px );
    /*
    /*-ms-transform: translate3d(0,0,0);
    /*-webkit-transform: translate3d(0,0,0);
    /*transform: translate3d(0,0,0) perspective( 5000px );*/
}
html, body{
    width:100%;
    height:100%;
    margin:0;
    padding:0;
    overflow:hidden;
    background-color:#CCC;
    font-family: 'Roboto', sans-serif;
}
.app{
    width:100%;
    height:100%;
    margin:0;
    padding:0;
    overflow:hidden;
    -ms-transform: translate3d(0,0,0);
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0) perspective( 5000px );
    background-color: #ccc;
}
.screen{
    width:100%;
    height:100%;
    margin:0;
    padding:0;
    overflow:hidden;
    position: absolute;
    background-color: #FFF;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    -webkit-perspective: 500px;
    perspective: 5000px;
    transform: perspective( 600px );
    -ms-transform: translate3d(0,0,0);
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0) perspective( 5000px );
    transform-origin: 50% 50%;
}
.screen .splash{
    width:100%;
    height:100%;
    background-color:#F0F0F0;
}