.parental_control{
    position: absolute;
    width:100%;
    height:100%;
    background-color: rgb(255, 120, 115);
    z-index: 9;
    left:0;
    top:0;
}
.parental_control .parental_illus{
    height:150px;
    width:100%;
    background-color:rgb(255, 90, 94);
    text-align: center;
}

.parental_control .parental_illus img{
    height:100%;
    width:auto;
}
.parental_control .parental_title{
    height: 55px;
    width: 100%;
    text-align: center;
    font-size: 14px;
    line-height: 55px;
    color: #FFFFFF;
}
.parental_control .question_label{
    width: 100%;
    display: block;
    height: 40px;
    line-height: 25px;
    font-size: 23px;
    color: #F9F9F9;
    text-align: center;
}
.parental_control .equation{
    width: 100%;
    display: block;
    height: 80px;
    line-height: 80px;
    font-size: 80px;
    color: #F9F9F9;
    text-align: center;
}
.parental_control .form_input{
    width: 100%;
    padding: 10px;
    text-align: center;
    box-sizing: border-box;
}
#parental_response{
    border: 1px solid #E3E3E3;
    font-size: 17px;
    text-align: center;
    width: 180px;
    left: 0;
    right: 0;
    margin: auto;
}
.parental_control .line.btn{
    padding:10px;
    box-sizing: border-box;
    text-align: center;
    background-color:#ff5a5e;
    font-size: 24px;
    color:#FFFFFF;
    font-size: 24px;
    height: 60px;
    line-height: 40px;
    background-color: #ff5a5e;
}
.parental_control .line.hyperlink{
    padding:10px;
    box-sizing: border-box;
    text-align: center;
    background-color:rgb(255, 120, 115);
    font-size: 14px;
    color:#FFFFFF;
}
#error_message{
    background-color:#FFFFFF;
    color:#ff5a5e;
    font-size: 13px;
    line-height: 18px;
}